.backtotop {
  --offset: 50px;

  position: sticky;
  top: 0;
  /* Stick to the top */
  margin-right: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #000 !important;
  /* Change text color to black */
  background: #fff !important;
  /* Change background color to white */
  border: 2px solid #000;
  /* Add black border */
  border-radius: 100px;
  white-space: nowrap;
}

/* Styla text bredvid bilderna */
.movie_title {
    font-size: 36px; /* Storlek på texten */
    font-weight: bold; /* Gör texten fetstilt */
    color: #333333; /* Färg på texten */
}

.release_year {
    font-size: 30px; /* Storlek på texten */
    font-weight: bold; /* Gör texten fetstilt */
    color: #333333; /* Färg på texten */
}


#myBtn {
  position: fixed;
  top: 15px; /* Place the button 15px from the top */
  left: 50%; /* Center the button horizontally */
  transform: translateX(-50%); /* Offset to center exactly */
  z-index: 99;
  border: 1px solid black; /* Add a black border with desired thickness */
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 30%; /* Make the button completely round */
  font-size: 18px;
}


#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

