.backtotop {
  --offset: 50px;

  position: sticky;
  top: 0;
  /* gör så knappen sitter fast på toppen */
  margin-right: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visuel Styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #000 !important;
  background: #fff !important;
  /*inportant gör att det prioriteras över bootsrap*/
  border: 2px solid #000;
  border-radius: 100px;
  white-space: nowrap;
}

/* Styla text bredvid bilderna */
.movie_title {
  font-size: 36px;
  /* Storlek på texten */
  font-weight: bold;
  /* Gör texten fetstilt */
  color: #333333;
  /* Färg på texten */
}

.release_year {
  font-size: 30px;
  /* Storlek på texten */
  font-weight: bold;
  /* Gör texten fetstilt */
  color: #333333;
  /* Färg på texten */
}

#myBtn {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  border: 0px solid black;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 10%;
  /* Radius på border kanten*/
  font-size: 15px;
  /*font storlek på texten i knappen*/
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  /* Ger en skugga runt knappen*/

}


#myBtn:hover {
  background-color: #dcdcdc;
  /* ger en grå färg på hover på knappen */
}

header nav {
  background-color: black;
  /*byter färg på bakgrunden i nav-bar*/
}

.director_name {
  font-size: 36px;
  /* Storlek på texten */
  font-weight: bold;
  /* Gör texten fetstilt */
  color: #333333;
  /* Färg på texten */
}

.subsection {
  margin: auto;
  width: 50%;
  margin-bottom: 50px;
}

.table {
  /* centerar filmlistan  */
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;

}

.table_director {
  /* centerar filmlistan  */
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}