.backtotop {
  --offset: 50px;

  position: sticky;
  top: 0;
  /* Stick to the top */
  margin-right: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #000 !important;
  /* Change text color to black */
  background: #fff !important;
  /* Change background color to white */
  border: 2px solid #000;
  /* Add black border */
  border-radius: 100px;
  white-space: nowrap;
}

/* Styla text bredvid bilderna */
.movie_title {
  font-size: 36px;
  /* Storlek på texten */
  font-weight: bold;
  /* Gör texten fetstilt */
  color: #333333;
  /* Färg på texten */
}

.release_year {
  font-size: 30px;
  /* Storlek på texten */
  font-weight: bold;
  /* Gör texten fetstilt */
  color: #333333;
  /* Färg på texten */
}



#myBtn.show {
  /* Add a class to style the button's position */
  top: 15px;
  /* Move button to desired location */
}


#myBtn {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  border: 0px solid black;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 10%;
  font-size: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}


#myBtn:hover {
  background-color: #dcdcdc;
  /* Add a dark-grey background on hover */
}

header nav {
  background-color: black;
}

.director_name {
  font-size: 36px;
  /* Storlek på texten */
  font-weight: bold;
  /* Gör texten fetstilt */
  color: #333333;
  /* Färg på texten */
}

.subsection{
  margin-bottom: 100px;
  

}
.table{
  margin: 100px;

}