<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1">
        {% for row in movies %}
        <tr>
            {% for item in row %}
            <td> {{ item }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <form action="/directors" method="get">
        <button type="submit">Gå till directors</button>
    </form>


</body>

</html>