.backtotop {
  --offset: 50px; 
  
  position: sticky;
  top: 0; /* Stick to the top */
  margin-right: 10px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  
  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #000 !important; /* Change text color to black */
  background: #fff !important; /* Change background color to white */
  border: 2px solid #000; /* Add black border */
  border-radius: 100px;
  white-space: nowrap;
}

/* Styla text bredvid bilderna */
.movie-title {
    font-size: 18px; /* Storlek på texten */
    font-weight: bold; /* Gör texten fetstilt */
    color: #333333; /* Färg på texten */
    margin-left: 10px; /* Marginal till vänster om texten för att separera från bilden */
}
