.backtotop {
  --offset: 50px; 

  position: sticky;
  top: 0; 
  margin-right: 10px; 
  place-self: end;
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  border-radius: 100px;
  white-space: nowrap;
}


.movie-title {
  font-weight: bold;
  color: #333333;
}

td:nth-child(3) {
  color: #666666; /* Färg på release-året */
  font-style: italic; /* Gör texten kursiv */
}
