.backtotop {
  --offset: 50px; 
  
  position: sticky;
  top: 0; /* Stick to the top */
  margin-right: 10px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  
  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #000 !important; /* Change text color to black */
  background: #fff !important; /* Change background color to white */
  border: 2px solid #000; /* Add black border */
  border-radius: 100px;
  white-space: nowrap;
}

